<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @Html.ActionLink("Register", "Register", "Account")
    @Html.ActionLink("Login", "Login", "Account")
    @RenderBody()
</body>
</html>