<div>
    <h1>List Books</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in books">
                <td>
                    <a href="/books/edit/{{book.Id}}" class="btn btn-default btn-xs">edit</a>
                    <a href="/books/delete/{{book.Id}}" class="btn btn-danger btn-xs">delete</a>
                </td>
                <td>{{book.Title}}</td>
                <td>{{book.Author}}</td>
            </tr>
        </tbody>
    </table>

    <p>
        <a href="/books/add" class="btn btn-primary">Add New Book</a>
    </p>
</div>