@using System.Security.Principal
@if (User.Identity.IsAuthenticated)
{
    <p>Hello, @User.Identity.GetUserName().</p>
    @Html.Partial("_ComposeTweetPartial", new Twitter.Models.TweetInput())
}
else
{
    <p>Hello, all.</p>
}